*{
    color: white;
    font-size: 2vh;
    font-family: "Roboto";
}

body{
    background-color: black;
}

#background-video-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#background-video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

#avatar{
    border-radius: 1000px;
    width: 20vh;
    user-select: none;
}

#bio{
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

bioTitle{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(150, 150, 150);
    font-size: 80%;
    padding: 0 !important;
    margin: 0 !important;
}

bioTitle svg{
    margin-right: 0.5vh;
}

#nick{
    font-weight: bold;
    font-size: 110%;
    margin-top: 1vh;
}

#left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vh;
}

#right-side{
    display: flex;
    flex-direction: column;
    padding: 4vh;
    gap: 2vh
}

#intro{
    position: absolute;
    top: 0px;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
